
.banner{
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0591D3;
    padding-top: 40px;
    .bannerImg{
      display: flex;
      justify-content: center;
      .firstImg{
        animation: moveUpDown 4s infinite ease-in-out;
      }
      .secondImg{
        animation: moveDownUp 4s infinite ease-in-out;
      }
      img{
        width: 90px;
        height: 100%;
      }
    }
    a{
      color: #fff;
      background-color: #3A4856;
      border-radius: 10px;
    }
    h2{
      font-size: 48px;
      padding-bottom: 20px;
      @media (max-width: 575.98px) {
        font-size: 20px;
      }
    }
    
  }
  
  .banner1{ 
    background-repeat: no-repeat !important;
    background-position: right !important;
    img{
      width: 100%;
    }
  }

@keyframes moveUpDown {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes moveDownUp {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}




