.productContent{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #edf8fe;
    .productList{
      padding-bottom: 40px;
      padding-top: 20px;
      a{
        text-decoration: none;
      }
    }
    .imgCard{
      border: 1px solid #efefef;
      text-align: center;
      border-radius: 10px;
      margin-bottom: 40px;
      transition: 0.5s ease all;
      background: #FFFFFF;
      &:hover{
        transform: scale(1);
      }
      p{
        color: #FFFFFF;
        background: #3A4856;
        width: 100%;
        min-height: 65px;
        margin-bottom: 0px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img{
        max-width: 200px;
        max-height: 300px;
        height: 300px;
        object-fit: contain;
      }
      a{
        text-decoration: none;
      }
    }
  
  }
  