.productContent{
  padding-top: 40px;
  padding-bottom: 40px;
  .productList{
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .imgCard{
    border: 1px solid #efefef;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
    img{
      max-width: 200px;
      max-height: 300px;
      height: 300px;
      object-fit: contain;
    }
    a{
      text-decoration: none;
    }
  }
}