.productContent{
  padding-top: 40px;
  padding-bottom: 40px;
  .productList{
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .imgCard{
    border: 1px solid #efefef;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
    img{
      max-width: 200px;
      max-height: 300px;
      height: 300px;
      object-fit: contain;
    }
    a{
      text-decoration: none;
    }
  }


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;

 li {
  margin: 0 5px;
}

 li button {
  padding: 5px 10px;
  border: 1px solid #a8a7a7;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

 li button:active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

 li button:disabled  {
  pointer-events: none;
  opacity: 0.2;
  
}
}
.filter {
  position: relative;
  cursor: pointer;
  display: inline-block;

  .filterContent{
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
    width: 325px;
    padding: 10px;
    border-radius: 5px;
    }
    h3{
      font-size: 20px;
      &:hover{
        color: #007bff;
      }
    }
    h5{
      &:hover{
        color: #007bff;
      }
    }
    p{
      &:hover{
        color: #007bff;
      }
    }
    .dropdown{
      position: relative; 
      left: 0; 
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding-left: 10px;
      
    }
  
  .search-container {
    position: relative;
    display: inline-block;

    input[type="text"] {
      width: 300px; /* Adjust width as needed */
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;

      &:focus + .dropdown {
        display: block; /* Show dropdown when input is focused */
      }
    }

    // .dropdown {
    //   display: none;
    //   position: absolute;
    //   background-color: #fff;
    //   width: 300px; /* Adjust width as needed */
    //   border: 1px solid #ccc;
    //   border-radius: 5px;
    //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    //   z-index: 1;
    //   margin-top: 5px; /* Adjust margin as needed */
    //   overflow-y: auto;
    // }
  }
}


}
