

$font-family-base: "Roboto Slab", serif;
// $headings-font-family: "ADLaM Display", system-ui;
$headings-font-family: "Roboto Slab", serif;

$primary : #3A4856;

$btn-padding-y: 8px;
$btn-padding-x: 15px;
