

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

$font-family-base: "Roboto Slab", serif;
$headings-font-family: "ADLaM Display", system-ui;
$primary : #3A4856;

$btn-padding-y: 8px;
$btn-padding-x: 15px;
