.aboutSection{
    background: #0591D3;
    background-image: url('/images/black.svg');
    background-position: 0px 350px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    h4{
        text-align: center;
        color: #fff;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
        margin-bottom: 50px;
    }
    a{
        color: #fff;
        background-color: #3A4856;

    }
    h5{
        color: #fff;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .Img{
        display: flex;
        justify-content: space-evenly;
       
        .ImgDiv{
            width: 200px;
            height: 222px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            img{
                width: 100%;
                height: auto;
                border-radius: 30px;
            }
        }
        p{
            color: #fff;
            text-align: center;
            margin-top: 10px;
        }
        h6{
            color: #fff;
            text-align: center;
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 40px;
            width: 60%;
            margin: auto;
        }
        .Btn{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                margin-right: 20px;
                margin-left: 20px;
            }
        }
    }
}