.headerMain{
  img{
    width: 150px;
  }
  li{
    padding-left: 20px;
    padding-right: 20px;
    a{
      color: #ffffff !important;
    }
  }

  .contactIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    .callIcon{
      color: #ffffff;
      font-weight: 600;
      margin-right: 10px;
    }
    img {
      width: 30px;
      margin-right: 10px;
    }
  }
}