.footer{
    background-color: #26303a;
    color: rgba(251, 251, 251, 1);
    padding-top: 20px;
    .box{
        border: 1px solid rgb(90 90 90);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 40px;
        text-align: center;
        margin-bottom: 20px;
        p{
            color: #0591d3;
            font-size: 28px;
            font-weight: 600;
        }
        button{
            background: rgba(58, 72, 86, 1);
            color: rgba(251, 251, 251, 1);
        }
        img{
        }
    }
    .address{
        padding: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        img{
            width: 165px;
            margin-right: 15px;
        }
        p{
            display: flex;
            align-items: center;
            img{
                width: 25px;
                margin-right: 15px;
            }
        }
    }
    .copyRight{
        padding: 20px;
        text-align: center;
        font-size: 13px;
    }
    .phone{
        text-align: center;
        p{
            font-size: 30px;
        }
    }
}