@import "themes/variables";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "../node_modules/bootstrap/scss/bootstrap";


body{
  font-family: "Roboto Slab", serif;
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 0px;
  transition: background-color 0.3s ease;
  z-index: 100;
}

.scrolled {
  background-color: #0591D3;
}




